@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 1420px;
    margin: 0 auto;
}


body {
    background-color: #fafaf5;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    line-height: 1.2;
    transition: all 0.3s ease;
}

.universal-btn {
    transition: all 0.3s ease;
}

.universal-btn:hover {
    background-color: #292929; 
    color: white;
}

.universal-btn:active {
    transform: scale(0.95);
}

:root {
    /* Fonts */
    --body-font: 'Poppins',  sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --serif-display: 'DM Serif Display', 'Georgia', serif;
    --jost-text: 'Jost', 'Arial', sans-serif;
  
    /* Colors */
    --primary-color: #FCE146;
    --white-color: #e9eaec;
    --dark-color: #292929;
    --dark-color-lighten: #f2f5ff;
    --shadow-color: rgba(41, 47, 54, 0.2);
  
    /* Background Colors */
    --white-bg-color: #fff;
    --dark-bg-color: #292929;
    --color-btn: #000;
  }


/*NAV BAR*/


.main_header {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    position: sticky;
    background-color: #FCE146;
    box-shadow: -2px 4px 16px 3px rgba(44, 44, 44, 0.37);
    z-index: 10;
} 




.main_header .container {
    display: flex;
    align-items: center;
}




.banner__main {
    margin: 10px 15px;
    width: 120px;
    position: absolute;
}

.basket_css {
    color: black;
    text-decoration: none;
}

.back_home {
    display: inline-block;
    margin: 15px 30px;
    position: absolute;
    font-size: 13px;
    border: 1px solid black;
    opacity: 0.9;
    padding: 15px;
    border-radius: 15px;
    right: 0;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;

}

.back_home:hover {
    background-color: black; /* Yellow accent */
    color: white;
}

.back_home:active {
    transform: scale(0.95);
}
/* BUTTONS & EXTRA*/




.main_buttons{
    position: relative;
    background: transparent;
    margin-top: 30px;
    gap: 15px;
    border: 1px solid black;
    margin-left: 20px;
    cursor: pointer;
}


#basket_btn2{
    padding: 10px 10px 10px 28px;
    border-radius: 15px;
    right: 55px;
    position: absolute;
}

#basket_btn2:hover .basket_css  {
    color: white;
}

#supportBtn{
    padding: 10px;
    border-radius: 50px;
    right: 300px;
    position: absolute;
}

.spticon {
    padding: 2px;
}

.support__text {
    position: absolute;
    font-weight: 500;
    font-size: 13px;
    right: 250px;
    top: 40px;
}

#lang_btn{
    border-radius: 50px;    
    right: 190px;
    border: 0;
    width: 40px;
    height: 40px;
    position: absolute;
}

#eng {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    position: absolute;
}

.lang__text {
    position: absolute;
    font-weight: 500;
    font-size: 13px;
    right: 170px;
    top: 40px;
}


.line{
    width: 90%;
    height: 2px;
    background-color: black;
    margin-top: 90px;
    margin-left: 5%;
    opacity: 0.1;
    position: absolute;
}

.icon_button {
    left: 2px;
    width: 25px;
    top: 5px;
    position: absolute;
}

.suggested{
    margin: 35px 0 0 22px;
    position: absolute;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Product details */

.parent_cloth{
    width: 650px;
    height: 550px;
    position: relative;
}


.pro_images {
    margin-top: 150px;
    position: absolute;
}


.image-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the images horizontally */
    gap: 10px; /* Space between the images */
}

.image-size {
    width: 150px; /* Adjust the width as needed */
    height: 120px; /* Maintain the aspect ratio */
}

.image-container img {
    width: 100%; /* Adjust the width as needed */
    height: 100%; /* Maintain the aspect ratio */
}



.pro_items {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 3.125rem;
}

.pro_item {
    border-radius: 15px;
    background-color: #eeeeee;
    height: 590px;
    width: 400px;
    position: absolute;
    overflow: hidden;
    margin-left: 15%;
}

.pro_item:hover {
    box-shadow: 0px 10px 20px rgba(4, 45, 65, 0.1);
}

.pro_item:hover .pro_image img {
    transform: scale(1.1);
}

.pro_image {
    overflow: hidden;
}

.pro_item:hover .pro_info {
    background-color: white;
    color: #292929;
}

.pro_image img {
    width: 100% ;
    vertical-align: middle;
    transition: all 0.4s ease 0s;
}

.pro_info {
    background-color: #292929;
    padding: 20px;
    color: #ffffff;

}

.pro_info_main span{
    font-size: 0.9375rem;
    margin-right: 1.875rem;
    cursor: pointer;
    font-weight: lighter;

}

.pro_info i {
    margin-right: 0.3125rem;
    cursor: pointer;
}

.pro_title {
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 0.9375rem;
    font-weight: 700;

}

.pro_description {
    line-height: 1.6875rem;
    font-size: 0.9375rem;
    font-weight: lighter;
}

/* Product Details 2 */


.product_details {
    line-height: 50px;
    gap: 15px;
    margin-top: 120px;
    position: absolute;
    left: 50%;
}

#detail-p { 
    font-size: 0.9375rem;
    font-weight: lighter;
}

#addCard-btn {
    background-color: #fce146;
    border: 0;
    position: absolute;
    border-radius: 50px;
    padding: 15px 200px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#addCard-btn:hover {
    background-color: #292929; 
    color: white;
}

#addCard-btn:active {
    transform: scale(0.95);
}


.text_basket-btn {
    font-weight: 500;
}

.size-btn {
    padding: 5px;
    font-weight: 500;
    width: 50px;
    background: transparent;
    border: 1px solid #8f8e8e;
    border-radius: 20px;
    cursor: pointer;
}

.priceText {
    font-weight: 500;
    font-size: 25px;
}

.detail-rating {
    font-size: 15px;
    font-weight: 500;
    opacity: 0.7;
}

.line2 {
    border: 0.1px solid #000000;
    position: absolute;
    margin-top: 25px;
    margin-left: 160px;
    opacity: 0.8;
    width: 18%;
}

#price {
    position: absolute;
    margin-left: 170px;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.6;
}

#discount {
    font-size: 18px;
    font-weight: 500;
}

.color {
    position: absolute;
    font-weight: 500;
}

.weight {
    font-weight: 500;
    margin-left: 100px;
}

.pro_image_small img{
    border-radius: 15px;
    width: 80px;
    height: 75px;
    background-color: #eeeeee;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pro_item_small {
    border-radius: 15px;
    width: 90px;
    height: 145px;
    border: 2px solid black;
    background-color: #eeeeee;
}

.pro_info_small {
    border-radius: 10px;
    height: 45px;
    padding: 10px;
    background-color: #fff;
}

.pro_title_small {
    margin: -10px;
    text-align: center;
}

.white-example {
    position: absolute;
    top: 450px;
    margin-left: 100px;
}

.dropdown {
    right: 570px;
    
}

.dropdown select {
    padding: 5px 10px;
    font-size: 16px;
    color: #000000;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown select:focus {
    outline: none;
}

/* CARDS */

.vagoon {
    margin-top: 1000px;
}

.pro_cards {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.procards {
    padding: 0 15px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 4rem;
}

.link_href {
    list-style: none;
    text-decoration: none;
}

/*CARDS*/

#data-container {
    margin-top: 55px;
    padding: 0 15px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 4rem;
  }

a {
    text-decoration: none;
}

.blog_items {
    margin-top: 150px;
    padding: 0 15px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 4rem;
    justify-content: center;
    align-items: center;
}



.user__item2{
    color: white;

    border: 1px solid white;
    width: auto;
    background-color: var(--dark-color);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    height: 430px;
    padding: 2rem 1.5rem;
    overflow: hidden; /* Allow content overflow if needed */
    box-shadow: 0px 5px 10px 2px var(--shadow-color);
}


.card__image {
    border: 1.9px solid black;
    border-radius: 10px;
    width: auto;
    height: 175px;
    position: absolute;
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, .4));
}

.card__data {
    transform: translateY(13.2rem);
    text-align: center;

}

.card__title {
    font-size: var(--h1-font-size);
    color: var(--primary-color);
    margin-bottom: .5rem;
    overflow: hidden;
    height: 63px;
}

.card__price {
    display: inline-block;
    font-size: var(--h2-font-size);
    font-weight: 500;
    margin-bottom: 1.25rem;

}

.card__description {
    font-size: var(--small-font-size);
    text-align: initial;
    opacity: 0;
    height: 100px;
    overflow: hidden;
    margin-bottom: 1.25rem;
}

.card__button {
    display: block;
    width: max-content;
    padding: 1.125rem 2rem;
    background-color: var(--primary-color);
    color: black;
    border-radius: .5rem;
    font-weight: 600;
    transition: .2s;
    opacity: 0;
}

.card__button:hover {
    box-shadow: 0 18px 40px -12px rgba(242, 162, 12, .35) ;
}

.card__image, 
.card__data, 
.card__title, 
.card__description, 
.card__price {
    transition: .5s;
}

.user__item2:hover .card__image{
    transform: translate(-8.5rem, -19.5rem) rotate(-20deg);
}

.user__item2:hover .card__data {
    transform: translateY(2.8rem);
}

.user__item2:hover .card__title {
    transform: translateX(-1rem) ;
    margin-bottom: 0;
}

.user__item2:hover .card__price {
    transform: translateX(-6.8rem) ;
}

.user__item2:hover .card__description,
.user__item2:hover .card__button {
    opacity: 1;
    transition-delay: .2s;
}

/* show more btn */


.show_more {
    background-color: #D6D6D6;
    color: black;
    padding: 12px 15px;
    border: none;
    font-weight: bold;
    width: 50%;
    border-radius: 30px;
    margin: 80px 0px 80px 25%;
    cursor: pointer;
    font-size: 14px;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.show_more:hover {
    background-color: #292929;
    color: white;
}

.show_more:active {
    transform: scale(0.95);
}


/* MODAL */

.modal {
    background-color: #FAFAF5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    top: 30%;
    left: 35%;
    position: absolute;
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #000;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1rem;
    box-sizing: border-box;
}

textarea {
    height: 100px;
    resize: none;
}

.submit-button {
    display: inline-block;
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    background-color: #FCE146;
}

  .hidden {
    display: none;
  }

  
/* RESPONSIVE */

/* For tablets (portrait and landscape) */
@media only screen and (max-width: 1024px) {

    /* HEader */
    .container {
        width: 100%;
    }

    .main_header {
        height: 70px;
    }


    .banner__main {
        width: 100px;
        position: relative;
    }

    .back_home {
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
    }

     /* line buttons */

    .main_buttons {
        margin-top: 20px;
        gap: 10px;
        margin-left: 0;
    }

    #basket_btn2 {
        right: 50px;
        padding: 10px 10px 10px 30px;
    }

    #supportBtn {
        right: 38%;
    }

    .line {
        margin-top: 70px;
        width: 90%;
    }

    .support__text, .lang__text {
        top: 34px;
    }


/* PRODUCT DETAILS */

    .parent_cloth {
        width: auto; 
        height: auto;
    }

    .product_details {
        line-height: 40px;
        gap: 15px;
        width: 300px;
        margin-top: 120px;
        right: 0;
        position: absolute;
    }

    .pro_item {
        width: 320px;
        height: 530px;
        margin-left: 50px;
    }

    .pro_item_small {
        height: 140px;
    }


    .white-example {
        top: 390px;
    }

    .line2 {
        display: none;
    }


    #detail-p {
        line-height: 25px;
    }

    .modal-content {
        max-width: 90%;
    }

    .dropdown {
        width: 20%;
        font-size: 10px ;
    }
   

    #addCard-btn {
        width: 100%;
        padding: 10px;
        margin-top: 10px;

    }


    /* Cards */
    .vagoon{
        width: 100%;
    }

    .procards,#data-container {
        width: auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 2rem;
    }


    .user__item2 {
        display: flex;
        width: auto;
        height: 400px;
        padding: 1.5rem 1rem;
    }

    .user__item2 img{
        margin: 15px 20px 20px 35px;
    }

    .card__title {
        height: 52px;
        overflow: hidden;
        font-size: 1.25rem;
    }

    .card__price {
        font-size: 1.2rem;
    }

    .card__description {
        font-size: 0.9rem;
    }

    .card__button {
        padding: 1rem 1.5rem;
    }


    .show_more {
        width: 80%;
        margin: 50px 80px ;
    }

    /* MODALS */

    .modal-content {
        width: 80%;
    }


    
}


/* For mobile phones (portrait and landscape) */
@media only screen and (max-width: 768px) {
    body {
        font-size: 0.9rem;
        padding: 0 10px;
    }

    .container {
        width: 100%;
    }

    .main_header {
        height: 60px;
    }

    .input__search {
        width: 100%;
        margin: 15px 0;
        right: auto;
        position: relative;
    }

    .icon__search {
        right: 15px;
        margin-top: 18px;
    }

    .banner__main {
        width: 80px;
        position: relative;
    }

    .back_home {
        padding: 10px;
    }

    

    /* PRO DETAILS */

    .product_details {
        position: relative;
        top: 700px;
        left: 0;
        width: 100%;
    }

    .white-example {
        display: none;
    }

    .pro_item {
        margin: 0;
    }

    .cont {
        margin-top: 100px;
    }

    .suggested {
        top: 50px;
    }

    #supportBtn {
        left: 3%;
        right: auto;
    }



    /* MODAL */

    .modal-content {
        width: 100vw;
        height: 100vh;
        margin: auto;
        position: static;
    }

   /* CARDS */

    .user__item2 {
        height: 380px;
        padding: 1rem;
    }

    .card__title {
        font-size: 1rem;
    }

    .card__price {
        font-size: 1.1rem;
    }

    .card__description {
        font-size: 0.85rem;
    }

    .card__button {
        padding: 1rem 1.5rem;
    }

    .main_buttons {
        padding: 8px 18px;
    }

    .btnSignIn {
        padding: 8px 10px;
        font-size: 11px;
    }

    .show_more {
        width: 80%;
        margin: 10px auto 30px 30px;
    }
}




